html {
  box-sizing: border-box;
  font-family: "Open sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  max-height: 500px;
}

h2 {
  display: inline;
  color: #fff;
  shadow: rgba(0, 0, 0, .5);
  font-size: 4rem;
  background-color: rgba(0, 0, 0, .5);
  margin: 0;
}

p {
  font-size: 2rem;
  font-style: italic;
  margin: 0;
  margin-top: .5em;
  margin-bottom: .5em;
}

.banner-content {
  position: absolute;
  text-align: left;
  margin-left: .1em;
  bottom: 0;
  max-width: 50em;
  margin-left: 1.5em;
}
